.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.app-container {
  /* text-align: center; */
  margin: 0;
  /* padding: 0; */
  max-width: 100%;
}

.div-container {
  width: 80%;
  margin: 0 auto;
}

.btn.btn-primary.add-button {
  width: 150px;
}